<!-- partials/page.html -->
<!-- <h1>{{page.title}}</h1>
{{page.content}} -->
<div class="row">
	<div class="page_container col-xs-12">
		<h1>
			Getting into it
		</h1>
		<p>
		This site; a work in progress, a place to share stuff about things I'm doing, places I'm going and people I meet.
		</p>
		<p>
			I’ll be using recent web development techniques to make this site work. Such as AngularJS and Bootstrap to create a single page responsive app. Which simply put means the page you see now does not refresh when you navigate from one part of the site to another. Only the parts that need to change do and so the content loads faster. Also the content should resize accordingly depending on the viewing device being used. 
		</p>
		<p>
			{{ message }}
		</p>
	</div>
</div>