<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="credits_header">This site made possible through API's provide by</div>
			<div class='credit_container'>
				<ul>
					<li class="col-md-2">
						<a href="http://openweathermap.org">
							<img src="all_images/logos/open_w_map.png" alt="Open Weathermap" >
							<span id="owm_credit">OpenWeatherMap</span>
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="https://www.feedzilla.com">
							<img src="all_images/logos/feedzilla.png" alt="Feedzilla" >
							<!-- <span id="bs_credit">Feedzilla</span> -->
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="https://www.google.com">
							<img id="google" src="all_images/logos/Logo_Google_2013_Official.svg.png" alt="Google" >
							<!-- <span id="bs_credit">Feedzilla</span> -->
						</a>
				  </li>
				  
				  <li class="col-md-2">
						<a href="https://www.yelp.com">
							<img id="yelp" src="all_images/logos/yelp-2c.jpg" alt="Yelp" >
							<!-- <span id="bs_credit">Feedzilla</span> -->
						</a>
				  </li>
				  <!-- <li class="col-md-2">
						<a href="https://www.eventfinda.com">
							<img id="eventfinda" src="images/logos/eventfinda.png" alt="Eventfinda" >
						</a>
				  </li> -->
				  <li class="col-md-2">
						<a href="https://www.blockspring.com">
							<img src="all_images/logos/blocksprint.png" alt="Blockspring" >
							<span id="bs_credit">Blockspring</span>
						</a>
				  </li>
				  <li class="col-md-2">
						<a href="https://www.GeoNames.org">
							<img id="geonames" src="all_images/logos/geonames.gif" alt="GeoNames" >
							<span id="geonames_credit">GeoNames</span>
						</a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>