<div id="header_image"></div>
<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({
          placement : 'top'
      });
  });
</script>
<style type="text/css">
  .bs-example{
      /*margin: 100px 50px;*/
    }
</style>

<div class="page_container">
	<h1>
		<span class="mycity">myCityview</span> {{city}}
		<!-- {{city}} -->
	</h1>
	<div class="row">
		<div class="col-xs-3">
			<h4>Weather</h4>
			<div ng-controller="WeatherCtrl">
				<div id='weatherpic'>
					<weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
					
			    <h5>{{ weather.temp.current | temp:2 }} : {{ weather.farenheit}}°F</h5>
			    <!-- <p>min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}</p> -->
				</div>
		  </div>
			<h4>Horoscope</h4>
			<div ng-controller="AstroCtrl">
				<div class="astro_imgs">
        	<a href id='Aries' ng-click="call('aries')"><img border="0" alt="Aries" src="images/astro/40px-Aries.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Aries"></a>

        	<a href id='Taurus' ng-click="call('taurus')"><img border="0" alt="Taurus" src="images/astro/40px-Taurus.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Taurus"></a>

        	<a href id='Gemini' ng-click="call('gemini')"><img border="0" alt="Gemini" src="images/astro/40px-Gemini.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Gemini"></a>

        	<a href id='Cancer' ng-click="call('cancer')"><img border="0" alt="Cancer" src="images/astro/40px-Cancer.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Cancer"></a>

        	<a href id='Leo' ng-click="call('leo')"><img border="0" alt="Leo" src="images/astro/40px-Leo.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Leo"></a>

        	<a href id='Virgo' ng-click="call('virgo')"><img border="0" alt="Virgo" src="images/astro/40px-Virgo.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Virgo"></a>
        	<br/>
        	<a href id='Libra' ng-click="call('libra')"><img border="0" alt="Libra" src="images/astro/40px-Libra.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Libra"></a>

        	<a href id='Scorpio' ng-click="call('scorpio')"><img border="0" alt="Scorpio" src="images/astro/40px-Scorpio.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Scorpio"></a>

        	<a href id='Sagittarius' ng-click="call('sagittarius')"><img border="0" alt="Sagittarius" src="images/astro/40px-Sagittarius.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Sagittarius"></a>

        	<a href id='Capricorn' ng-click="call('capricorn')"><img border="0" alt="Capricorn" src="images/astro/40px-Capricorn.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Capricorn"></a>

        	<a href id='Aquarius' ng-click="call('aquarius')"><img border="0" alt="Aquarius" src="images/astro/40px-Aquarius.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Aquarius"></a>

        	<a href id='Pisces' ng-click="call('pisces')"><img border="0" alt="Pisces" src="images/astro/40px-Pisces.svg.png" width="20" height="19" data-toggle="tooltip" data-original-title="Pisces"></a>

				</div>
				<p id='astro_forcast'>{{forcast}}<i class="fa fa-refresh fa-spin fa-2x"></i></p>
				<!-- <p id='astro_forcast'>Choose your sign.<i class="fa fa-refresh fa-spin fa-2x"></i></p> -->
	    </div>
	  </div>
		<div class="col-xs-9">
			<h4>News</hr>
			<div id="news_container">
				<div ng-controller="NewsCtrl">
					<ul>
						<li ng-repeat="article in articles">
							<p class="article_title">{{article.title}}</p>
							<p class="article_summary">{{article.summary}} <a href="{{article.url}}" target="_blank">LINK</a></p>
							<!-- <p class="article_url"><a href="{{article.url}}" target="_blank">LINK</a></p> -->

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-xs-12"><img src="images/yelp-2c.jpg" alt="Yelp logo"></div>
	</div>
	<div class='row'>
		<div class="col-xs-3">
			<div ng-controller="MusicVenueCtrl">
				<h4>Music Venues</h4>
				<ul>
					<li ng-repeat="venue in musicvenues | orderBy:'-rating'">
						<div ng-controller="ToggleCtrl">
							<ul class='horz_list'>
						  	<li><img ng-src="{{venue.rating_img_url_small}}" /> </li>
								<li><span ng-click="toggleCustom()"> {{venue.name | limitTo:nameLength}}
									<i ng-show="custom" class="fa fa-caret-right"></i>
				          <i ng-hide="custom" class="fa fa-caret-down"></i></span>
				        </li>
				      </ul>
			        <div ng-hide="custom">Ph: {{venue.display_phone}} <br/> Loc: {{venue.location.address | toString}}, {{venue.location.city}}<br/>Url: <a href="{{venue.url}}" target="_blank">{{venue.name | limitTo:nameLength}}</a></div>
			      </div>
					</li>
				</ul>
			</div>
		</div>
		<div class = "col-xs-3">
			<div ng-controller="RestaurantCtrl">
				<h4>Restaurants</h4>
				<ul>
					<li ng-repeat="restaurant in restaurants | orderBy:'-rating'">
						<div ng-controller="ToggleCtrl">
							<ul class='horz_list'>
						  	<li><img ng-src="{{restaurant.rating_img_url_small}}" /> </li>
								<li><span ng-click="toggleCustom()"> {{restaurant.name | limitTo:nameLength}}
									<i ng-show="custom" class="fa fa-caret-right"></i>
				          <i ng-hide="custom" class="fa fa-caret-down"></i></span>
				        </li>
				      </ul>
			        <div ng-hide="custom">Ph: {{restaurant.display_phone}} <br/> Loc: {{restaurant.location.address | toString}}, {{restaurant.location.city}}<br/>Url: <a href="{{restaurant.url}}" target="_blank">{{restaurant.name | limitTo:nameLength}}</a></div>
			      </div>
					</li>
				</ul>
			</div>
		</div>
		<div class = "col-xs-3">
			<div ng-controller="ClubCtrl">
				<h4>Happy Hour</h4>
				<ul>
					<li ng-repeat="club in clubs | orderBy:'-rating'">
						<div ng-controller="ToggleCtrl">
							<ul class='horz_list'>
						  	<li><img ng-src="{{club.rating_img_url_small}}" /> </li>
								<li><span ng-click="toggleCustom()"> {{club.name | limitTo:nameLength}}
									<i ng-show="custom" class="fa fa-caret-right"></i>
				          <i ng-hide="custom" class="fa fa-caret-down"></i></span>
				        </li>
				      </ul>
			        <div ng-hide="custom">Ph: {{club.display_phone}} <br/> Loc: {{club.location.address | toString}}, {{club.location.city}}<br/>Url: <a href="{{club.url}}" target="_blank">{{club.name | limitTo:nameLength}}</a></div>
			      </div>
					</li>
				</ul>
			</div>
		</div>
		<div class = "col-xs-3">
			<div ng-controller="GallaryCtrl">
				<h4>Galleries</h4>
				<ul>
					<li ng-repeat="gallery in galleries | orderBy:'-rating'">
						<div ng-controller="ToggleCtrl">
							<ul class='horz_list'>
						  	<li><img ng-src="{{gallery.rating_img_url_small}}" /> </li>
								<li><span ng-click="toggleCustom()"> {{gallery.name | limitTo:nameLength}}
									<i ng-show="custom" class="fa fa-caret-right"></i>
				          <i ng-hide="custom" class="fa fa-caret-down"></i></span>
				        </li>
				      </ul>
			        <div ng-hide="custom">Ph: {{gallery.display_phone}} <br/> Loc: {{gallery.location.address | toString}}, {{gallery.location.city}}<br/>Url: <a href="{{gallery.url}}" target="_blank">{{gallery.name | limitTo:nameLength}}</a></div>
			      </div>
			    </li>
				</ul>
			</div>
		</div>
	</div>
  <div class="row">
  	<div class="col-xs-12">
			<div class="movies">
				<h4>Movie Listings </h4>
				<div ng-controller="MovieCtrl">
			    <accordion>
				    <accordion-group heading="{{theater.name}}" ng-repeat="theater in theaters">
				      <ul>
				        <li ng-repeat="movie in theater.movies"><span class="mname">{{movie.name}}:</span> @ {{movie.times | removeAmp}}</li>
				      </ul>
				    </accordion-group>   
				  </accordion>
				</div>
			<div>
		</div>
	</div>
	<div class="row">
		<div class = "col-xs-12">
				<p>{{ message }}</p>
			</div>
	</row>
	
</div>
