<navbar></navbar>
<header></header>
<day-astro-quote></day-astro-quote>
<forcast></forcast>
<div class="container">
  <div class="tabs_container">
    <tabset>
      <tab heading="News"><news></news></tab>
      <!-- <tab heading="Movies"><movies></movies></tab> -->
      <tab heading="Yelp"><yelp></yelp></tab>
      <tab heading="Events"><events></events></tab>
      <tab heading="Attractions"><places></places></tab>
      <tab heading="tweets"><twitter></twitter></tab>
    </tabset>
  </div>
  <map></map>
  <credits></credits>
</div> 