<!-- <div class="row">
	<div class="col-md-12">
		<div id="map_container">
			<div ng-controller="GetMapCtrl">
			    <div id="map-canvas"></div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-md-12">
		<div id="map_container">
		<!-- <div ng-controller="CollapseDemoCtrl"> -->
			<!-- <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle map</button> -->
			<!-- <hr> -->
			<!-- <div collapse="isCollapsed"> -->
				<!-- <div id="map_container"> -->
					<div ng-controller="GetMapCtrl">
				    <div id="map-canvas"></div>
					</div>
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
	</div>
	</div>
</div>