<div class="row">
		<div class="col-md-6">
			<div class="news_container">
				<h4>News </h4>
				<div ng-controller="NewsCtrl">
				  <accordion>
				    <accordion-group heading="Local">
					    <div class="newspanel">
					      <ul>
									<li ng-repeat="local in localnews" >
										<p class="news_title">{{local.title}}</p>
										<p ng-show={{isnews}} class="news_summary" >{{local.summary | removehtml}}  <a href="{{local.url}}" target="_blank">LINK</a></p>
									</li>
								</ul>
							</div>
				    </accordion-group>
				    <accordion-group heading="World">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="top in topnews">
									<p class="news_title">{{top.title}}</p>
									<p class="news_summary">{{top.summary}}> <a href="{{top.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				    <accordion-group heading="Entertainment">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="show in entertainmentnews">
									<p class="news_title">{{show.title}}</p>
									<p class="news_summary">{{show.summary}}> <a href="{{show.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				    <accordion-group heading="Technology">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="tech in technews">
									<p class="news_title">{{tech.title}}</p>
									<p class="news_summary">{{tech.summary}}> <a href="{{tech.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				    <accordion-group heading="Sports">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="sport in sportsnews">
									<p class="news_title">{{sport.title}}</p>
									<p class="news_summary">{{sport.summary}}> <a href="{{sport.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				    <accordion-group heading="Travel">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="travel in travelnews">
									<p class="news_title">{{travel.title}}</p>
									<p class="news_summary">{{travel.summary}}> <a href="{{travel.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				    <accordion-group heading="Music">
				    <div class="newspanel">
				    	<ul>
					      <li ng-repeat="music in musicnews">
									<p class="news_title">{{music.title}}</p>
									<p class="news_summary">{{music.summary}}> <a href="{{music.url}}" target="_blank">LINK</a></p>
								</li>
							<ul>
						</div>
				    </accordion-group>
				  </accordion>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="movies">
				<h4>Movie Listings </h4>
				<div ng-controller="MovieCtrl">
			    <accordion ng-hide="show_movies">
				    <accordion-group heading="{{theater.name | isnull}}" ng-repeat="theater in theaters">
					    <div class="moviepanel">
					      <ul>
					        <li ng-repeat="movie in theater.movies">
					        	<span class="mname">{{movie.name}}: </span> 
					        	<span ng-show="movie.howlong">{{movie.howlong}} - </span>
					        	<span ng-show="movie.rating"> {{movie.rating}} - </span>
					        	<span ng-show="movie.type">{{movie.type}} - </span> 
					        	<span ng-show="movie.trailer"><a href="{{movie.trailer}}" target="_blank">Trailer</a></span>
					        	<br/> {{movie.times | removeAmp}}
					        </li>
					      </ul>
					    </div>
				    </accordion-group>   
				  </accordion>
				</div>
			</div>
		</div>
	</div>