<div class="row">
		<div class='twitter_container'>
			<div class="col-md-12">
				<div ng-controller="TwitterCtrl">
					<ul>
						<li ng-repeat="tweets in twitter">
							<ul>
								<li ng-show="tweets.name" class="mname"> {{tweets.text}}</li>
								<!-- <li ng-show="tweets.types[0]"> {{tweets.types[0] | formatType}}</li>
								<li ng-show="tweets.formatted_phone_number"> {{tweets.formatted_phone_number}}</li>
								<li ng-show="tweets.formatted_address"> {{tweets.formatted_address}}</li>
								<li ng-controller="SetLatLng" class="mapit" ng-click="set_marker(tweets.geometry.location)" ng-show="tweets.geometry.location"> Map it</li>
								<li ng-show="tweets.website"><a ng-href="{{tweets.website}}" target="_blank">Website</a></li>
								<li><hr></li> -->
							</ul>
					  </li>
					</ul>
				</div>
			</div>
		</div>
</div>